---
Language: Cpp

BasedOnStyle: Google

BreakBeforeBraces: GNU
SpaceBeforeParens: Never

ColumnLimit: 135
ReflowComments: true

AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

DerivePointerAlignment: false
PointerAlignment: Right

SortIncludes: false

AlignConsecutiveAssignments: false
AlignTrailingComments: false
...
